*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.navbar{
    
    
    display: flex;
    align-items:center;
    padding: 5px;
    
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.navbar a{
    text-decoration: none;
    text-anchor: middle;
    color: black;
}
.navbar a:hover{
    text-decoration: underline;
}
p{
    color: white;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 1px;
    padding-right: 5px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    width: 50%;

}
.col-2 img{
    position: absolute;
    top: 75px;
    right: 25px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    padding: 40px;
    padding-left: 0;
    padding-right: 0;

}
.col-2 h1{
    font-size: 50px;
    margin: 50px;
    line-height: 85%;
    padding: 0;
    position: relative;
    top: 40px;
    right: 50px;
}
.col-2 p{
    font-size: 20px;
    font-style: oblique;
    position: relative;
    bottom: 0%;
    left: 0px;
}
.col-2 a{
    text-decoration: solid;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 30px;
    position: relative;
    left: 200px;
}
.header{
    background: radial-gradient(green,aqua);
    height: 1007px;
}
